<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <%- include('./includes/navbar.ejs') %> 

    <% if (users.length  === 0) { %>
       <h1>No user to show</h1>
    <% } else{%>
        <h1 class="heading-1">List of Users</h1>
        <% users.forEach(user => { %>
          
          <div class="user-box">
            <div class="name-box">
              <span class="name">Name : </span>
              <h2 class="user-name"><%= user.name %> </h2>
            </div>
            <div class="address-box">
              <span class="address">Address : </span>
              <p class="user-location"><%= user.location  %> </p>
            </div>
          </div>
         <!-- <img src="/images/Rolling-1s-131px.svg" alt=""> -->

        <% }) %>
        <% } %> 
    <!-- <script src="/script.js"></script> -->

</body>

</html>