<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1 class="heading-1">Go Gaga Assignment</h1>
    <form action="search" method="POST" class="search-form" >
        <input type="text" placeholder="search by name or location." name="searchBar" class="searchbar">
        <button type="submit" class="search-button">submit</button>
    </form>
    <a href="/add-record" class="search-link"><i class="fas fa-user-plus"></i>Add record</a>
    <a href="/get-records" class="search-link"><i class="fas fa-users"></i>get All records</a>

    <script src="/script.js"></script>
</body>
</html>